[Unit]
After=network.service

[Service]
EnvironmentFile=/root/.bashrc
ExecStart=s3fs $S3_BUCKET /root/the_hunting/s3-booty -o nonempty -o url=$S3_ENDPOINT

[Install]
WantedBy=default.target
