[Unit]
After=network.service

[Service]
ExecStart=s3fs hunting-loot /root/the_hunting/s3-booty -o nonempty -o url=http://hunting-loot.s3.amazonaws.com/

[Install]
WantedBy=default.target
